{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
  <section class="hero has-text-centered">
    <div class="hero-body">
      <h1 class="title">TSSM</h1>
      <h2 class="subtitle">TSSM is an application that manages search notes on your twitter.</h2>
      <a class="button is-info" href="oauth">
        <span class="icon">
          <i class="fa fa-twitter"></i>
        </span>
        <span>Sign in with Twitter</span>
      </a>
    </div>
  </section>
{% endblock %}
