.container {
  max-width: 60rem;
}
.nav {
  box-shadow: 0 1px 0 rgba(219, 219, 219, 0.3);
  min-height: 3.5rem;
}
.nav-item .title {
  font-size: 1.4rem;
}
.hero-body .title {
  font-size: 3.6rem;
}
.title {
  font-family: 'Vampiro One', cursive;
}
.footer {
  margin-top: 2rem;
}
